%section#home-leaderboard
  .row
    .span16
      .header
        %a{:href => '/', :title => "githero.es"}
          = image_tag 'githeroes-leaderboard.png', :width => '480px'

  .row
    .span16
      - if params[:location].present?
        - _search_url = "https://github.com/search?type=Users&language=&q=location%3A#{params[:location].gsub(/\s/, '%2B')}&repo=&langOverride=&x=0&y=0&start_value=1"
        %h2.find-others
          Find other Git Heroes in
          %a{:href => _search_url}
            = params[:location]
      - else
        - _search_url = nil

      %table{:class => 'zebra-striped', :id => 'leaderboard'}
        %thead
          %tr
            %th= "#"
            %th= "Hero"
            %th= "Location"
            %th= "Votes Received"
        %tbody
          - @heroes.each do |hero|
            %tr
              %td= hero.rank
              %td= "<img src='#{hero.avatar_url}' width='20'/> <a href='#{short_hero_path(hero)}' title='#{hero.name}'>#{hero.login}</a>".html_safe
              - if (location = hero.location).present?
                %td= link_to(location, _search_url.present? ? _search_url : leaderboard_path(:location => location))
              - else
                %td= ""

              %td= hero.votes_received