:plain
  <style type="text/css">
    #githeroes-badge {
      font-size: 0.8em;
      border: 3px solid #666;
      border-radius: 6px;
      float: left;
      padding: 8px;
      line-height: 1.3em;
      min-width: 145px;
      -webkit-box-shadow: 0 0 15px #9c9c9c;
         -moz-box-shadow: 0 0 15px #9c9c9c;
              box-shadow: 0 0 15px #9c9c9c;
    }

    #githeroes-badge #githeroes-main-container {
      width: 100%;
      float: left;
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;
    }

    #githeroes-badge #githeroes-main-container #githeroes-image {
      -webkit-box-shadow: 0 0 8px #9c9c9c;
         -moz-box-shadow: 0 0 8px #9c9c9c;
              box-shadow: 0 0 8px #9c9c9c;
      border: 1px solid #fff;
       width: 40px;
      height: 40px;
       float: left;
    }

    #githeroes-badge #githeroes-main-container #githeroes-info {
      float: left;
      padding-left: 12px;
    }

    #githeroes-badge #githeroes-main-container #githeroes-image img {
      width: 40px;
      height: 40px;
    }

    #githeroes-badge #githeroes-info h1 {
      font-family: "Helvetica Neue", "Helvetica";
      margin: 0;
      font-size: 1.2em;
      line-height: 1.2em;
    }

    #githeroes-badge #githeroes-info .githero {
      margin: 0;
      margin-top: 6px;
      font-family: "Helvetica Neue", "Helvetica";
      width: 100%;
      float: left;
    }

    #githeroes-badge #githeroes-info .githero .text {
      float: left;
      margin-right: 4px;
      margin-top: 2px;
    }

    #githeroes-badge #githeroes-info .githero .img {
      float: left;
    }

    #githeroes-badge #githeroes-info h1 a{
      color: #333;
      text-decoration: none;
    }

    #githeroes-badge #githeroes-info h1 a:hover{
      text-decoration: underline;
    }

    #githeroes-badge #githeroes-footer {
      font-family: "Helvetica Neue", "Helvetica";
      font-size: 0.75em;
      margin-top: 2.4em;
      padding-top: 4px;
      width: 100%;
      text-align: right;
      float: left;
    }

    #githeroes-badge #githeroes-local, #githeroes-badge #githeroes-global {
      width: 50%;
      float: left;
      padding-top: 8px;
      font-family: "Helvetica Neue", "Helvetica";
    }

    #githeroes-badge .githeroes-rank-block .githeroes-rank {
      font-family: "monaco","courier new","andale mono","lucida console", monospace;
      font-size: 3em;
      display: block;
      width: 100%;
      text-align: center;
      line-height: 1.2em;
    }

    #githeroes-badge .githeroes-rank-block .githeroes-descriptor {
      display: block;
      width: 100%;
      text-align: center;
    }
  </style>


#githeroes-badge
  #githeroes-main-container
    #githeroes-image
      %a{:href => "http://githero.es/#{hero.login}", :title => hero.name, :target => '_blank'}
        = image_tag(hero.avatar_url, :alt => hero.login)
    #githeroes-info
      %h1
        %a{:href => "http://githero.es/#{hero.login}", :title => hero.name, :target => '_blank'}
          = hero.login
      .githero
        .text
          is a
        .img
          <img src="http://assets.githero.es/githero.png" alt="GitHero" height="20"/>
  - if hero.location.present?
    - _local_rank = hero.local_rank
    #githeroes-local.githeroes-rank-block
      %span.githeroes-rank= "##{_local_rank}"
      %span.githeroes-descriptor= link_to(hero.location, leaderboard_url(:location => hero.location, :host => 'githero.es'), :target => '_blank')
  - if (_rank = hero.global_rank).present?
    #githeroes-global.githeroes-rank-block
      %span.githeroes-rank= "##{_rank}"
      %span.githeroes-descriptor= link_to('Globally', leaderboard_url(:host => 'githero.es'), :target => '_blank')
  #githeroes-footer
    Voted for by my <a href="https://github.com" target="_blank">GitHub</a> peers.