.row
  %h4 Vote for #{hero.login} and tweet your thanks!

  .span4
    %a{:href => hero.html_url, :title => hero.name, :target => '_blank'}
      = image_tag(hero.avatar_url, :alt => hero.login, :class => 'hero-shot')
  .span12
    %h1= hero.login
    .language.rank-block
      - if hero.location.present?
        - if (_local_rank = hero.local_rank).present?
          %span.rank= "##{_local_rank} in"
        %span.descriptor= link_to(hero.location, leaderboard_path(:location => hero.location), :target => '_blank')
    - if (_rank = hero.global_rank).present?
      .global-rank.rank-block
        %span.rank= "##{_rank}"
        %span.descriptor= link_to('Globally', leaderboard_path)

.row
  .span16.bio
    - if hero.bio.present? && hero.bio.to_s != 'null'
      %p= hero.bio.html_safe
    %p= hero.auto_bio.html_safe

.row
  .span16.vote
    - unless current_hero.present?
      %a{:href => '/heroes/auth/github', :class => 'btn success large primary popup', 'data-height' => '400', 'data-width' => '600'}
        Login with GitHub to Vote!
    - else
      = render :partial => 'vote_buttons', :locals => { :hero => @hero }

.row{:style => "margin-top: 20px;"}
  .span16.bio{:style => "border-top: 1px solid #ccc;"}
    %h5 Are you #{hero.login}?
    %p
      Get your own GitHeroes badge (with your local and global rank) to use on your own blog/website!
      :plain
        <form>
          <textarea class="copy-code" rows="1" style="width: 100%;">&lt;script type="text/javascript" src="http://githero.es/#{hero.login}.js"&gt;&lt;/script&gt;</textarea>
        </form>
    %p= "Here's a #{link_to('preview', badge_hero_path(hero))} of what it looks like.".html_safe
