.row
  %h4 Say thanks and vote for #{hero.login}...and tweet too!

  .span4
    %a{:href => hero.html_url, :title => hero.name, :target => '_blank'}
      = image_tag(hero.avatar_url, :alt => hero.login, :class => 'hero-shot')
  .span12
    %h1= hero.login
    .language.rank-block
      - if hero.location.present?
        %span.descriptor= link_to(hero.location, leaderboard_path(:location => hero.location), :target => '_blank')

.row
  .span16.bio
    - if hero.bio.present? && hero.bio.to_s != 'null'
      %p= hero.bio.html_safe
    %p= hero.auto_bio.html_safe

.row
  .span16.vote
    - unless current_hero.present?
      %a{:href => '/heroes/auth/github', :class => 'btn success large primary popup', 'data-height' => '400', 'data-width' => '600'}
        Login with GitHub to Vote!
    - else
      = render :partial => 'vote_buttons', :locals => { :hero => @hero }