.row
  .span4
    = image_tag(hero.avatar_url, :alt => hero.login, :class => 'hero-shot')
  .span12
    %h1= "#{hero.login} <em>(#{hero.name})</em>".html_safe
    .language.rank-block
      %span.descriptor= "Ruby"
      %span.rank= "#1024"
    .global.rank-block
      %span.descriptor= "Global"
      %span.rank= "#10242401"

.row
  .span16.vote
    %a{:class => 'btn success large primary', :id => 'vote', :href => '#'}
      Vote Now!