%section#heroes-show
  .row
    .span16
      .hero-container{:class => "#{@hero.present? ? '' : 'loading'}"}
        .header
          .row
            .span12
              %a{:href => '/', :title => "githero.es"}
                = image_tag 'githeroes-600x170.png', :width => '200px'
            .span4
              = render :partial => 'tweet_button', :locals => { :hero => @hero }
        .hero
          - if @hero.present?
            = render :partial => 'hero', :locals => { :hero => @hero }


- content_for :javascripts do
  %script{:type => "text/javascript"}
    = "window.heroes_controller = new HeroesController('#{params[:id]}', #{@hero.present?});"