!!!5

%html{'xmlns:fb' => "http://ogp.me/ns/fb#"}
  = render :partial => 'shared/head'

  %body{:id => @body_id || 'githero'}
    - if @topbar
      .topbar{'data-scrollspy' => 'scrollspy'}
        .topbar-inner
          .container
            %a{:href => '/', :class => 'brand'}
              githero.es

            %ul{:class => 'nav secondary-nav'}
              - if @show_sign_in_button_in_header
                .social-buttons
                  %a{ :href => user_omniauth_authorize_path(:github), :class => "button signup facebook popup", :'data-width' => '600', :'data-height' => '400' }
                    ="<span>Sign In with GitHub</span>".html_safe

    #main.container
      - if notice.present?
        %p{:class => "alert-message success notice"}= notice
      - if alert.present?
        %p{:class => "alert-message error alert"}= alert

      = yield

    - unless @hide_footer
      #footer.container
        %p
          The <a href="/leaderboard">Leaderboard</a> &middot; Brought to you by the creators of <a href="http://getdenso.com">Denso</a> &middot; Follow us on Twitter at <a href="http://twitter.com/getdenso">@getdenso</a>
        %p{:style => "font-size: 11px;"}
          githero.es is not affiliated to <a href="https://github.com" target="_blank">GitHub</a> in any way, and is in fact a tribute to the site and its wonderful community.

    #fb-root

    = render :partial => 'shared/javascripts'

  :javascript
    $('#nominate-hero-button').live('click', function() {
      var nominee = $('#nominate-hero-text-field').val();
      console.log("Nominee " + nominee);

      if(nominee.length > 0) {
        window.location = "/h/" + nominee;
      }

      return false;
    });

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


#nominate-hero-modal.modal{:style => "display: none;"}
  .modal-header
    %a{:href => "#", :class => "close"}
      x
    %h3
      Nominate your Git Hero
  .modal-body
    %p#nomination-container
      %input{:class => "xlarge", :id => "nominate-hero-text-field", :name => "xlInput", :size => "50", :type => "text", :placeholder => "Your hero's GitHub username"}
      %a{:href => '#', :class => 'btn success', :id => 'nominate-hero-button'}
        Nominate